<div class="gh-onboarding-wrapper" data-test-dashboard="onboarding-checklist">
    <div class="gh-onboarding-header">
        {{#if (feature "nightShift")}}
            <div class="gh-onboarding-ghost-logo-wrapper">
                <video width="80" height="80" loop autoplay muted playsinline preload="metadata" style="width: 80px; height: 80px;" class="gh-onboarding-ghost-logo--dark" {{autoplay}}>
                    <source src="assets/videos/logo-loader-dark.mp4" type="video/mp4" />
                </video>
                <div class="gh-onboarding-ghost-logo-overlay"></div>
            </div>
        {{else}}
            <div class="gh-onboarding-ghost-logo-wrapper">
                <video width="80" height="80" loop autoplay muted playsinline preload="metadata" style="width: 80px; height: 80px;" class="gh-onboarding-ghost-logo--light" {{autoplay}}>
                    <source src="assets/videos/logo-loader.mp4" type="video/mp4" />
                </video>
            </div>
        {{/if}}

        {{#if this.onboarding.allStepsCompleted}}
            <h2 class="gh-canvas-title">أنت جاهز تماماً.</h2>
        {{else}}
            <h2 class="gh-canvas-title">هيا بنا نبدأ!</h2>
            <p>مرحباً بكم! حان وقت الإعداد {{get-setting "title"}}.</p>
        {{/if}}
    </div>

    <div class="gh-onboarding-items">
        <div>
            {{!-- Step 1 --}}
            <div class="gh-onboarding-item gh-onboarding-item--completed">
                <Dashboard::Onboarding::Step
                    @icon="rocket"
                    @title="ابدأ منشور Ghost جديدًا"
                    @complete={{true}}
                />
            </div>
            {{!-- Step 2 --}}
            <LinkTo @route="settings-x.settings-x" @model="design/edit?ref=setup" class="gh-onboarding-item {{onboarding-step-class "customize-design"}}" id="ob-customize-design" {{on "click" (fn this.onboarding.markStepCompleted "customize-design")}}>
                <Dashboard::Onboarding::Step
                    @icon="brush"
                    @title="خصص تصميمك"
                    @description="ابتكر مظهرًا يعكس علامتك التجارية وأسلوبك."
                    @complete={{is-onboarding-step-completed "customize-design"}}
                />
            </LinkTo>
            {{!-- Step 3 --}}
            <LinkTo @route="lexical-editor.new" @model="post" class="gh-onboarding-item {{onboarding-step-class "first-post"}}" id="ob-first-post" {{on "click" (fn this.onboarding.markStepCompleted "first-post")}}>
                <Dashboard::Onboarding::Step
                    @icon="writing"
                    @title="استكشف المُحرر"
                    @description="تعرّف على تجربة كتابة ستُحبها."
                    @complete={{is-onboarding-step-completed "first-post"}}
                />
            </LinkTo>
            {{!-- Step 4 --}}
            <LinkTo @route="members" class="gh-onboarding-item {{onboarding-step-class "build-audience"}}" id="ob-build-audience" {{on "click" (fn this.onboarding.markStepCompleted "build-audience")}}>
                <Dashboard::Onboarding::Step
                    @icon="member-add"
                    @title="ابنِ جمهورك"
                    @description="أضف الأعضاء وقم بتنمية قاعدة قرّائك."
                    @complete={{is-onboarding-step-completed "build-audience"}}
                />
            </LinkTo>
            {{!-- Step 5 --}}
            <div role="button" {{on "click" this.openShareModal}} class="gh-onboarding-item {{onboarding-step-class "share-publication"}}" id="ob-share-publication">
                <Dashboard::Onboarding::Step
                    @icon="megaphone"
                    @title="شارك منشورك"
                    @description="وسّع نطاق وصولك عبر وسائل التواصل الاجتماعي."
                    @complete={{is-onboarding-step-completed "share-publication"}}
                    role="presentation"
                />
            </div>
        </div>
    </div>

    {{#if this.onboarding.allStepsCompleted}}
        <a href="#" class="gh-onboarding-explore-dashboard" id="ob-completed" {{on "click" this.onboarding.completeChecklist}}>استكشف لوحة التحكم الخاصة بك</a>
    {{/if}}

    <p class="gh-onboarding-help">هل لديك المزيد من الأسئلة؟ اطّلع على <a href="https://ghost.org/help?utm_source=admin&utm_campaign=onboarding" id="ob-help-center" target="_blank" rel="noopener noreferrer">Help Center</a>.</p>

    {{#unless this.onboarding.allStepsCompleted}}
        <a href="#" class="gh-onboarding-skip" id="ob-skip" {{on "click" this.onboarding.dismissChecklist}}>تخطي عملية التوجيه</a>
    {{/unless}}
</div>